html, body {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: $mdc-theme-primary;
  &:hover, &:focus {
    color: $mdc-theme-primary-dark;
  }
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

// margins

.margin-default {
  @each $size in map-keys($mdc-layout-grid-columns) {
    @include mdc-layout-grid-media-query_($size) {
      margin: map-get($mdc-layout-grid-default-margin, $size);
    }
  }
}

@each $side in $tn-sides {
  .margin-default-#{$side} {
    @each $size in map-keys($mdc-layout-grid-columns) {
      @include mdc-layout-grid-media-query_($size) {
        margin-#{$side}: map-get($mdc-layout-grid-default-margin, $size);
      }
    }
  }
}

.margin-default-horizontal {
  @each $size in map-keys($mdc-layout-grid-columns) {
    @include mdc-layout-grid-media-query_($size) {
      margin-left: map-get($mdc-layout-grid-default-margin, $size);
      margin-right: map-get($mdc-layout-grid-default-margin, $size);
    }
  }
}

.margin-default-vertical {
  @each $size in map-keys($mdc-layout-grid-columns) {
    @include mdc-layout-grid-media-query_($size) {
      margin-top: map-get($mdc-layout-grid-default-margin, $size);
      margin-bottom: map-get($mdc-layout-grid-default-margin, $size);
    }
  }
}

.margin-auto-horizontal {
  margin-left: auto;
  margin-right: auto;
}

.margin-none {
  margin: 0;
}

// paddings

.padding-default {
  @each $size in map-keys($mdc-layout-grid-columns) {
    @include mdc-layout-grid-media-query_($size) {
      padding: map-get($mdc-layout-grid-default-gutter, $size);
    }
  }
}

.padding-none {
  padding: 0;
}

.text-center {
  text-align: center;
}
