// background

.bg-primary-dark {
  background-color: $brand-primary-dark;
}

.bg-accent {
  background-color: $brand-accent;
}

.bg-tertiary {
  background-color: $brand-tertiary;
}

// border

.border-default {
  border: $border-width solid $body-color;
}

.border-primary {
  border: $border-width solid $brand-primary;
}

.border-accent {
  border: $border-width solid $brand-accent;
}

// full-span absolute

.full-span-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// text

.text-accent {
  color: $brand-accent;
}
