{{ $productList := where .Data.Pages "Section" "product" }}
{{ $processList := where .Data.Pages "Section" "process" }}

{{ partial "head.html" . }}

<!-- Headline -->

<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-middle mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop tn-headline">
      <div class="mdc-typography--display3 mdc-theme--primary">{{ .Site.Params.slogan }}</div>
      <p class="mdc-typography--headline">{{ .Site.Params.subSlogan }}</p>
      <a href="{{ "product" | relURL }}" class="mdc-button mdc-button--primary mdc-button--raised">Shop Now</a>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-middle mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop text-center">
      <img src="http://via.placeholder.com/500x350">
    </div>
  </div>
</div>

<!-- Products -->

<div class="mdc-layout-grid">
  <div class="mdc-typography--display1 mdc-theme--primary margin-default-vertical text-center">Our Products</div>
  <div class="mdc-layout-grid__inner">
    {{ range $productList }}
    {{ if .Params.showonhome }}
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet text-center">
      <div>
        <a href="{{ .URL }}"><img class="full-height" src="{{ .Params.productimage }}" alt="{{ .Title }}" title="{{ .Title }}"></a>
      </div>
      <p class="mdc-typography--caption"><a href="#">{{ .Title }}</a></p>
    </div>
    {{ end }}
    {{ end }}
  </div>
</div>

<!-- What is Rice Germ -->

{{ with .Site.GetPage "section" "rice-germ" }}
<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-middle mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop text-center">
      <img src="{{ .Params.image }}" alt="{{ .Title }}" title="{{ .Title }}">
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-middle mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
      <div class="mdc-typography--display1 mdc-theme--primary">{{ .Title }}</div>
      {{ .Content }}
    </div>
  </div>
</div>
{{ end }}

<!-- Processes -->

<div class="mdc-layout-grid">
  <div class="mdc-typography--display1 mdc-theme--primary margin-default-vertical text-center">Our Process</div>
  <div class="mdc-layout-grid__inner">
    {{ range $index, $element := $processList }}
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet text-center">
      <div>
        <img class="full-height" src="{{ $element.Params.image }}" alt="{{ $element.Title }}" title="{{ $element.Title }}">
      </div>
      <p class="mdc-typography--caption">
        <span>{{ add $index 1 }}</span>
        <br>
        <span>{{ $element.Title | upper }}</span>
      </p>
      <p class="mdc-typography--caption">{{ $element.Content }}</p>
    </div>
    {{ end }}
  </div>
</div>

<!-- Photos -->

<div class="mdc-layout-grid">
  <div class="mdc-typography--display1 mdc-theme--primary margin-default-vertical text-center">Photos</div>
  <div class="mdc-grid-list">
    <ul class="mdc-grid-list__tiles margin-auto-horizontal" style="width: 800px;">
      {{ range (seq 12) }}
      <li class="mdc-grid-tile">
        <div class="mdc-grid-tile__primary">
          <img class="mdc-grid-tile__primary-content" src="http://via.placeholder.com/100x100">
        </div>
      </li>
      {{ end }}
    </ul>
  </div>
</div>

{{ partial "foot.html" . }}
