$color-santa-fe: #A86A53;
$color-sweet-corn: #F7E67E;
$color-tropical-blue: #B9E6F5;
$color-mine-shaft: #212121;
$color-boulder: #757575;
$color-silver: #BDBDBD;
$color-gallery: #EEEEEE;
$color-alabaster: #FAFAFA;

$brand-primary: $color-santa-fe;
$brand-primary-dark: darken($brand-primary, 5%);
$brand-accent: $color-sweet-corn;
$brand-tertiary: $color-tropical-blue;
$body-bg: $color-alabaster;

$gray-dark: $color-mine-shaft;
$gray: $color-boulder;
$gray-light: $color-silver;
$gray-lighter: $color-gallery;
$gray-lightest: $color-alabaster;

$golden-ratio: 1.618;

// Font

$font-family-sans-serif: "Pridi", sans-serif;
$font-family-serif: "Vollkorn", serif;
$font-family-base: $font-family-serif, $font-family-sans-serif;

// Shadow

$enable-shadows: true;

// Carousel

$carousel-indicator-height: 1rem;

// Navbar

$navbar-inverse-color: rgba($brand-accent, .5);
$navbar-inverse-hover-color: rgba($brand-accent, .75);
$navbar-inverse-active-color: rgba($brand-accent, 1);
$navbar-inverse-disabled-color: rgba($brand-accent, .25);

// Hr

$hr-border-width: 2px;
