$color-santa-fe: #A86A53;
$color-sweet-corn: #F7E67E;
$color-mine-shaft: #212121;
$color-boulder: #757575;
$color-silver: #BDBDBD;
$color-gallery: #EEEEEE;
$color-alabaster: #FAFAFA;

$brand-primary: $color-santa-fe;
$brand-accent: $color-sweet-corn;
$body-bg: $color-alabaster;

$gray-dark: $color-mine-shaft;
$gray: $color-boulder;
$gray-light: $color-silver;
$gray-lighter: $color-gallery;
$gray-lightest: $color-alabaster;
