$color-santa-fe: #A86A53;
$color-sweet-corn: #F7E67E;
$color-tropical-blue: #B9E6F5;
$color-mine-shaft: #212121;
$color-boulder: #757575;
$color-silver: #BDBDBD;
$color-gallery: #EEEEEE;
$color-alabaster: #FAFAFA;
$color-white: #FFFFFF;

$mdc-theme-primary: $color-santa-fe;
$mdc-theme-secondary: $color-sweet-corn;
$mdc-theme-background: $color-alabaster;

$gray-dark: $color-mine-shaft;
$gray: $color-boulder;
$gray-light: $color-silver;
$gray-lighter: $color-gallery;
$gray-lightest: $color-alabaster;

$golden-ratio: 1.618;

// Font

$mdc-typography-font-family: Roboto, Pridi, sans-serif;
