{{ $imageSrc := .Get "image-src" }}
{{ $imageAlt := .Get "image-alt" }}
{{ $imageSize := .Get "image-size" | default "100" }}
{{ $imagePosition := .Get "image-position" | default "left" }}

<div class="row">
  {{ if eq $imagePosition "left" }}
  <div class="col-md-4 py-2">
  {{ else if eq $imagePosition "right" }}
  <div class="col-md-4 push-md-8 py-2">
  {{ else }}
  <div class="col-12 py-2">
  {{ end }}
    <div class="ml-auto mr-auto" style="width: {{ print $imageSize "%" }};">
      <img class="w-100" src="{{ $imageSrc | relURL }}" alt="{{ $imageAlt }}">
    </div>
  </div>
  {{ if eq $imagePosition "left" }}
  <div class="col-md-8 py-2">
  {{ else if eq $imagePosition "right" }}
  <div class="col-md-8 pull-md-4 py-2">
  {{ else }}
  <div class="col-12 py-2">
  {{ end }}
    {{ .Inner }}
  </div>
</div>
